<h1>Welcome to TEMPLATE</h1>
<form action="/RESULT">
  <div class="form-group">
     <label for="TEMPLATE"></label>
     <input id="TEMPLATE" name="TEMPLATE" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>
